<ion-content color="dark" class="ion-padding">
  <div class="ion-justify-content-center">
    <ion-text color="primary" class="ion-text-center ion-margin-top">
      <h2>Iniciar sesión</h2>
    </ion-text>
  </div>
  <form action="" [formGroup]="formLogin" (ngSubmit)="login()">
      <div class="ion-padding">
        <ion-input formControlName="email" fill="outline" placeholder="email"></ion-input>
      </div>
        <div class="ion-padding">
          <ion-input type="password" formControlName="password"  fill="outline" placeholder="password"></ion-input>
        </div>
    <ion-row class="ion-padding ion-justify-content-center">
      <ion-button id="open-loading" type="submit" fill="solid" slug="--border-radius">
        Iniciar sesión
      </ion-button>
      <ion-loading *ngIf="loading" trigger="open-loading" message="Login..." ></ion-loading>
    </ion-row>
  </form>
  <ion-text color="primary" class="ion-text-center">
    <p>¿No tienes cuenta?</p>
  </ion-text>
  <ion-text class="ion-text-center" color="secondary" (click)="OpenRegister()">
    <p>Regístrate</p>
  </ion-text>
</ion-content>
